
.head {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__logo {
    border-radius: 50%;
}

.head__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    height: 53px;
    justify-content: space-between;
}

.head__number {
    text-decoration: none;
}

.head__link_text {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

@media(max-width: 1024px) {
    .head {
        padding-top: 26px;
    }

    .head__logo {
        width: 60px;
        height: 60px;
    }

    .head__phone {
        font-size: 21px;
        height: 52px;
        row-gap: 8px;
        justify-content: flex-start;
    }

    .head__link_text {
        font-size: 13px;
    }
}

@media(max-width: 520px) {
    .head__logo {
        width: 30px;
        height: 30px;
    }

    .head__number, .head__link_text {
        display: none;
    }

    .head__phone:before {
        content: url("./../img/phone.svg");
        background-color: #555A7B;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
    }
}