
.introduction {
    padding-top: 117px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.introduction__title {
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    font-size: 52px;
    font-weight: 900;
    width: 990px;
    margin: 0 auto 35px;
}

.introduction__text {
    color: rgba(255, 255, 255, 0.75);
    width: 960px;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 140.625%;
    margin: 0 auto 89px;
}

.introduction__link {
    color: #FFF;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    background: #15A9CB;
    box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.30);
    padding: 12px 48px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 105px;
}

@media (max-width: 1024px) {
    .introduction {
        padding-top: 67px;
        padding-bottom: 70px;
        margin: 0 auto;
    }

    .introduction__title{
        font-size: 40px;
        width: 780px;
        margin-bottom: 29px;
    }

    .introduction__text{
        font-size: 18px;
        width: 754px;
        margin-bottom: 56px;
    }
}

@media (max-width: 520px) {
    .introduction {
        padding-top: 65px;
        padding-bottom: 65px;
        margin: 0 auto;
    }

    .introduction__title{
        font-size: 20px;
    }

    .introduction__text{
        font-size: 14px;
    }

    .introduction__link {
        width: 160px;
        font-size: 16px;
    }
}