@media (max-width: 520px) {
    .slider {
        position: relative;
    }

    /*настройка переключения и положения для левой стрелки*/
    /*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
    #switch1:checked ~ .controls .controls__switch:nth-child(4),
    #switch2:checked ~ .controls .controls__switch:nth-child(1),
    #switch3:checked ~ .controls .controls__switch:nth-child(2),
    #switch4:checked ~ .controls .controls__switch:nth-child(3){
        background: url('./../img/left.svg') no-repeat; /*заливка фона картинкой без повторений*/
        position: absolute;
        left: -10%;
        bottom: 30px;
        display: block;
        height: 68px;
        width: 68px;
    }

    /*настройка переключения и положения для правой стрелки*/
    #switch1:checked ~ .controls .controls__switch:nth-child(2),
    #switch2:checked ~ .controls .controls__switch:nth-child(3),
    #switch3:checked ~ .controls .controls__switch:nth-child(4),
    #switch4:checked ~ .controls .controls__switch:nth-child(1){
        background: url('./../img/right.svg') no-repeat; /*заливка фона картинкой без повторений*/
        position: absolute;
        right: -10%;
        bottom: 30px;
        display: block;
        height: 68px;
        width: 68px;
    }

    /*позиция изображения при активации переключателя*/
    #switch1:checked ~ .slides__content .about__list {
        margin-left: 0;
    }

    #switch2:checked ~ .slides__content .about__list {
        margin-left: -100%;
    }

    #switch3:checked ~ .slides__content .about__list {
        margin-left: -200%;
    }

    #switch4:checked ~ .slides__content .about__list {
        margin-left: -300%;
    }

    .slides__content .about__list{ /*анимация пролистывания изображений*/
        transition: ease 1s
    }
}

